<div class="row">

<div class="col">
        <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Estaciona Aquí</a>

        <ul class="navbar-nav ml-auto">

            <li class="nav-item active">
              <a class="nav-link" href="#"> Log In </a>
             
            </li>
            
        </ul>

        </nav>
</div>

</div>

<div class="row">

<div class="col"></div>

<div class="col">

<h1>Ingreso a las historias según el usuario</h1>

<button type="button" class="btn btn-dark btn-block"> <a href="/navegador/dueno1" style="color:inherit"> Ingresar como dueño </a> </button>

<button type="button" class="btn btn-dark btn-block"> <a href="/navegador/cliente1" style="color:inherit"> Ingresar como cliente </a> </button>
 	
<button type="button" class="btn btn-dark btn-block"> <a href="/navegador/administrador1" style="color:inherit"> Ingresar como administrador </a> </button>
	
</div>

<div class="col"></div>


 	 	
</div>

